/* *{
    margin: 0;
    padding: 0;
} */
.container {
    background-image: url('../Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    /* border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

#newsletter {
    margin: 40px 100px;
    
}

.section-heading h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 250px;
    /* margin-bottom: 50px; */
}

/* .container .section-heading h4{
    margin-top: 250px;
} */
.new-year h1 {
    width: 632px;
    color: #FFF;
    margin-left: 350px;
    margin-top: 0px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.all-control {
    width: 850px;
    height: 750px;
    margin: 20px auto;
    background: #FFF;
}

.all-control .all-category {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

.all-control .all-category h1 {
    color: #F00;
    font-size: 50px;
    font-weight: 70px;
}

.all-control .all-category p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.all-control .all-category h3 {
    color: #070211;
    font-size: 28px;
    font-weight: 500;
}

.banner-container .banner-text h1 {
    color: #FFF;
    /* color: gold; */
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.banner-container .banner-text p {
    color: rgba(255, 255, 255, 0.80);
    /* color: gold; */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner-container .banner-text .btn-color {
    color: gold;
    /* color: #FFF; */
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.banner-text h1,p,.btn-color{
    margin-left:110px;

}
.banner-container{
    display: flex;
    /* margin:0px auto; */
    background-image: url('../Vectorrr.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    align-items: center;
    gap: 90px;
    
}
#midnight-party
{
    margin-left: 170px;
}