* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('../Banner\ Image.png');
    width: 1282px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    /* border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

#newsletter {
    /* margin: 10px 40px; */
    /* margin-top: 10px 40px; */
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 20px;
    margin-bottom: 50px;


}

.section-heading h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 250px;
    /* margin-bottom: 50px; */
}

/* .container .section-heading h4{
    margin-top: 250px;
} */
.new-year h1 {
    width: 632px;
    color: #FFF;
    margin-left: 350px;
    margin-top: 0px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.all-control {
    width: 850px;
    height: 750px;
    margin: 20px auto;
    background: #FFF;
}

.all-control .all-category {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

.all-control .all-category h1 {
    color: #F00;
    font-size: 90px;
    font-weight: 90px;
    margin-bottom: 20px;
}

.all-control .all-category p {
    color: #F00;
    font-size: 24px;
    margin-right: 80px;
    margin-bottom: 20px;
    font-weight: 500;
}

.all-control .all-category h3 {
    color: #070211;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner-container .banner-text h1 {
    color: #FFF;
    /* color: gold; */
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.banner-container .banner-text p {
    color: rgba(255, 255, 255, 0.80);
    /* color: gold; */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner-container .banner-text .btn-color {
    color: gold;
    /* color: #FFF; */
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text h1,
p,
.btn-color {
    margin-left: 110px;

}

.banner-container {
    display: flex;
    /* margin:0px auto; */
    background-image: url('../Vectorrr.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    align-items: center;
    gap: 90px;

}

#midnight-party {
    margin-left: 15px;
}

.flex-bg-box .normal-text h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.flex-bg-box .normal-text h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.flex-bg-box .normal-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 10px;
    /* 160% */
}

.normal-text {
    margin-left: 20px;
    margin-top: 30px;
}

.flext-first-images {
    margin-left: 20px;
    border-radius: 16px;
}

.flext-second-images {
    margin-left: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.subsribe-section .box-section img {
    width: 150px;
    height: 150px;
    margin-left: 580px;
    margin-top: 150px;
    flex-shrink: 0;
}

.subsribe-section .box-section h3 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.subsribe-section .box-section p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.cheak-box-but {
    margin-left: 380px;
}

.cheak-box-but input {
    width: 500px;
    height: 52px;
    border-radius: 50px;
    background: #FFF;
    padding-left: 50px;
    flex-shrink: 0;
}

.cheak-box-but .btn {
    width: 110px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.subsribe-section {
    width: 1280px;
    height: 700px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    flex-shrink: 0;
}

.sec {
    margin-left: 20px;
}



.number {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.website {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: space-between; */
}

h4 {
    margin: 0;
    padding: 0;
}

.horizonal-class {
    width: 1320px;
    /* height: 1px; */
}

.social-platforms {
    display: flex;
    gap: 10px;
    margin-left: 500px;
}

.final {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: space-around;
}


.number-website {
    margin-right: 120px;
}


.text-item h4 {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
}

.Unsubscribe p {
    margin-right: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.All-Rights-Reserved h6 {
    margin-right: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.space-between {
    display: flex;
    justify-content: space-around;
}

.balck-background {
    background: #070211;
}

.eleven-digit h4 {
    color: #FFF
}

.web-addrees h4 {
    color: #FFF
}